
html, body, div, img, a, ul, ol, li, dl, dt, dd, p, span, input, cite, h1, h2, h3, h4, h5, h6, form, table, tr, td, textarea, i, button, em {
    margin:0;
    padding:0;
    border:0;
}

/* 头部css样式 */
.header {
	width:100%;
}


.headerTop {
	width:100%;
	height: 175px;
	background: url(../images/header/bg.png) no-repeat;
	-webkit-background-size: 100% 100%;
	background-size: 100% 100%;
	background-position: 0 20px;
	display: relative;
}

/* logo */
.logo {
	width:  140px;
	height: 158px;
	margin: 0 auto;
	line-height: 158px;
}
.logo img {
	width:  100%;
	height: 100%;
}

/* 小插件 */
.widgets {
	width: 300px;
	height: 48px;
	position: absolute;
	right: 257px;
	top: 0;
	background: yellowgreen;
	display: flex;

}
/* 选择 */
.topSelect {
	width: 120px;
	height: 48px;
	line-height: 48px;
	padding-left: 20px;
	background: #0859CD;
	border: none;
	color: #fff;
}

/* 搜索 */
.search {
	width: 60px;
	height: 48px;
	line-height: 48px;
	background: #0859CD;
	border: none;
}

.search img{
	width: 20px;
	height: 20px;
	margin:0 auto;
}
/* 天气 */
.weather {
	width: 120px;
	height: 48px;
	line-height: 48px;
	background: #5CC2D7;
	border: none;
}
/* 导航样式 */ 
.nav {
	height: 65px;
	box-shadow:0 0 10px #cccccc;
	background: url(../images/header/navBg.png) no-repeat center;
	background-size: 100% 80%;
	min-width:1250px;
}



.nav>ul {
	display: flex;
	height:65px;
	line-height: 65px;
	justify-content: center;
}

.nav>ul li{
	padding:0 15px 0 15px;                                 
	font-size: 14px;            
	font-weight: bold;
	list-style-type:none;
}

.nav > ul li > a{
	text-decoration:none;
	font-family: FZDBSJW--GB1-0;
	font-size: 18px;
	color: #231815;
}

.navActive {
	color: #7C4D1E;
}

/* 轮播图样式 */

ul {
    list-style:none;
}

.slideBox {
  margin:0 auto;
  width:1660px;
  height:900px;
  position:relative;
  overflow:hidden;
  border: none;
}

.slideBox ul {
  position:relative;
  width:7680px;
  height: 850px;
}
.slideBox ul li {
  float:left;
  width:1660px;
  height:850px;
  position:relative;
    
}


/* 轮播图下的点圆 */
.spanBox {
  width: 100%;
  height: 50px;
  background-color: #D3D3D4;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
}

.spanBox span {
  width:11px;
  height:11px;
  margin-left:16px;
  background-color:#fff;
  text-shadow:2px 2px 2px #fff;
  border-radius: 11px;
}
.slideBox .spanBox .active {
  background-color:#A6882B;
  border:solid 1px #BEEBEC;
  border-radius:4px;
  border-radius: 18px;
}

/* 轮播图控制按钮 */
.direction{
	width:1660px;
    height:850px;
}
/* 上一张 */
.prev {
  width: 82px;
	height: 123px;
  position:absolute;
  left:50px;
  top:320px;
  float:left;
  background-color: rgba(255,255,255,0.2);
  display: flex;
  align-items: center;
  justify-content: center;

}
.prev img{
	width: 20px;
	height: 30px;

}
/* 下一张 */
.next {
  position:absolute;
  right:50px;
  top:320px;
  float:right;
  width: 82px;
	height: 123px;
  background-color: rgba(255,255,255,0.2);
  display: flex;
  align-items: center;
  justify-content: center;
}

.next img{
	width: 20px;
	height: 30px;
}

/* main部分css样式 */

/* 产业特色顶部 */
.cyts {
	width: 100%;
	position: relative;
} 

.cytsTopBg {
	width:100%;
	height: 175px;
	background: url(../images/main/1-topBg.png) no-repeat;
	-webkit-background-size: 100% 100%;
	background-size: 100% 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.cytsTitle {
	width: 265px;
	height: 86px;
	line-height: 86px;
	background: url(../images/titleBg.png) no-repeat;
	-webkit-background-size: 100% 100%;
	background-size: 100% 100%;
	text-align: center;
	font-family: MicrosoftYaHei;
	font-size: 28px;
	letter-spacing: 7px;
	color: #e60012;
}

/* 产业特色主体 */
.mainSpecial {
	width: 100%;
	height: 664px;
	display: flex;
}

.mainSpecial > div {
	width:  332px;
	height: 664px;
	background-color: yellowgreen;
}

.special{
	width:  332px;
	height: 50%;
	border: none;
	position: relative;
}

.special img{
	width:  100%;
	height: 100%;
}

.specialBg {
	position: absolute;
	top:  36px;
	right : 42px;
	width: 88px;
	height: 213px;
	background: url(../images/main/1-fontBg.png) no-repeat;
	-webkit-background-size: 100% 100%;
	background-size: 100% 100%;
	display: flex;
	justify-content: center;
	align-items: center; 
}

.specialBg p {
	width: 36px;
	height: 154px;
	font-family: MicrosoftYaHei;
	font-size: 36px;
	font-weight: normal;
	font-stretch: normal;
	line-height: 42px;
	letter-spacing: 4px;
	color: #ffffff;
}

.specialImg {

}

.specialImg{
	width:  332px;
	height: 50%;
	border: none;
	overflow: hidden;
	position: relative;
}



.specialImg img{
	position: absolute;
	top: 50%;
	left: 50%;
	width:  110%;
	height: 110%;
	transform: translate(-50%, -50%);
}


/* 玩转小镇 */

/* 产业特色顶部 */
.wzxz {
	width: 100%;
	position: relative;
} 

.wzxzTopBg {
	width:100%;
	height: 175px;
	background: url(../images/main/2-topBg.png) no-repeat;
	-webkit-background-size: 100% 100%;
	background-size: 100% 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.wzxzTitle {
	width: 265px;
	height: 86px;
	line-height: 86px;
	background: url(../images/titleBg.png) no-repeat;
	-webkit-background-size: 100% 100%;
	background-size: 100% 100%;
	text-align: center;
	font-family: MicrosoftYaHei;
	font-size: 28px;
	letter-spacing: 7px;
	color: #e60012;
}

.mainArea {
	width: 100%;
	height:  960px;
	background: url(../images/main/2-pic.png) no-repeat;
	-webkit-background-size: 100% 100%;
	background-size: 100% 100%;
}


/* 全景虚拟游 */

.qjxny {
	margin-top: 40px;
	width: 100%;
	height: 1072px;
	position: relative;
	background: url(../images/main/3-Bg.jpg) no-repeat;
	-webkit-background-size: 100% 100%;
	background-size: 100% 100%;
} 

.qjxnyTopBg {
	width:100%;
	height: 175px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.qjxnyTitle {
	width: 265px;
	height: 86px;
	line-height: 86px;
	background: url(../images/titleBg.png) no-repeat;
	-webkit-background-size: 100% 100%;
	background-size: 100% 100%;
	text-align: center;
	font-family: MicrosoftYaHei;
	font-size: 28px;
	letter-spacing: 7px;
	color: #e60012;
}

.mainView {
	width: 1160px;
	height: 810px;
	margin: 0 auto;
	background-color: honeydew;
	border-radius: 10px;
	overflow: hidden;
}
/* 全景轮播 */


/* 在线预订 */

.zxdg {
	margin-top: 40px;
	width: 100%;
	height: 1072px;
	position: relative;
	background: url(../images/main/4-bg.jpg) no-repeat;
	-webkit-background-size: 100% 100%;
	background-size: 100% 100%;
} 

.zxdgTopBg {
	width:100%;
	height: 175px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.zxdgTitle {
	width: 265px;
	height: 86px;
	line-height: 86px;
	background: url(../images/titleBg.png) no-repeat;
	-webkit-background-size: 100% 100%;
	background-size: 100% 100%;
	text-align: center;
	font-family: MicrosoftYaHei;
	font-size: 28px;
	letter-spacing: 7px;
	color: #e60012;
}

.online {
	width: 1160px;
	height: 810px;
	margin: 0 auto;
	/* background-color: honeydew; */
	overflow: hidden;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.OnlinePic {
	position: relative;
	width:350px;
	height: 350px;
	margin-right: 20px;
	border: none;
}

.OnlinePic > img{
	width:100%;
	height: 100%;
}

.OnlinePic > div{
	position: absolute;
	bottom: 0;
	width:100%;
	height: 60px;
  background-color: rgba(0,0,0,0.2);
  display: flex;
  justify-content: space-between;

}
.OnlinePic > div > p{
	margin-left:  35px;
	width: 300px;
	height: 60px;
	font-family: MicrosoftYaHei;
	font-size: 20px;
	line-height: 60px;
	color: #ffffff;
}

.OnlinePic > div > img{
	margin-right: 28px;
	width: 60px;
	height: 60px;
}

.OnlinePic .onlineActive {
	height:100%;
	justify-content:center;
	align-items:center;
	flex-direction: column-reverse;
}

.OnlinePic .onlineActive >p{
	color: #D86200;
	display: block;
	margin-left: 180px;
}


/* footer 部分css 样式 */

.footer {
	height: 670px;
	background-color: #skyblue;
}

.partner {
	height: 300px;
	background-color: #d5d5d5;
}

.information {
	height: 370px;
	background-color: #d5d5a2;
}